<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mvp.css') }}"> 
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura-earthly.css" type="text/css"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} &bull; {{ name }}</title>
  </head>
  <body>
    <header>
      <nav>
        <img src="{{url_for('static', filename='logo.svg')}}" alt="TRX Companion - progress everyday" height="50">
        <ul>
          <li><a href="{{url_for('index')}}">Home</a></li>
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
          <li><a href="{{url_for('logout')}}">Logout</a></li>
          {% else %}
          <li><a href="{{url_for('login')}}">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      <hr>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}

    </main>
    <footer>
      <hr>
      <small>&copy; kurapka, <script>document.write(new Date().getFullYear())</script>
      </small>
    </footer>
  </body>
</html> 